/*---              Home                         ---*/

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}


/*--Header--*/


/*-nav-*/

.header {
    height: 15vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*height: 10rem;*/
    padding: 0;
}

ul {
    list-style-type: none;
}

.ul-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.ul-nav-a {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.li-nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-right: 20px;
}

.navbar-figure {
    margin: 0;
    padding: 0;
}

.logo {
    width: 8rem;
    height: 8rem;
}


/*-cierro nav-*/


/*--cierro Header--*/


/*Sections*/


/*
.section-gral {
    width: 100%;
    height: 85vh;
}


.section-figure-img {
    width: 100vw;
    height: 100vh;
}

#carouselExampleCaptions {
    width: 100%;
    height: 60vh;
}
*/

.div-blank {
    width: 100%;
    height: 200px;
    background-color: white;
}

.section-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*.section-info-div_p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin-left: 20px;
}*/

.section-info-img {
    width: 28vw;
    height: 500px;
}


/*terminan las sections*/


/*--Footer--*/

.redesSociales {
    width: 35px;
    margin-right: 12px;
}

.footer-div-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EDE305;
}

.footer {
    bottom: 100px;
}

.logo1 {
    width: 6rem;
    height: 6rem;
}